*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f2f2;
}

.heading{
    font-family: roboto;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 3rem 0 3rem 0;
}

.intro{
    font-family: nunito;
    font-size: 20px;
    color: rgb(229, 76, 76);
    letter-spacing: .3px;
    animation: fontbold 2s ease 8;
}

@keyframes fontbold {

    0% {
      font-weight: 0;
    }

    50% {
        font-weight: 700;
        letter-spacing: 1px;
    }

    100% {
        font-weight: 0;
    }

  }


.dot-container{
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 2%;
    width: 600px;
    height: 600px;
    margin: 7.5rem 0 7.5rem 0;
    cursor: pointer;
    transition: all 2s ease-in-out;
}

@keyframes background-color {

    0% {
      background-color: #F8D1CD;
    }

    25% {
        background-color: #F0A8AB;
      }
      
    50% {
        background-color: #f6969f;
    }
   
    75%{
        background-color: #F0A8AB;
    }   

    10%{
        background-color: #F8D1CD;
    }   
  }

.dot{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #c00;
    opacity: 0;
    transition: all .4s ease-out;
}

.btn-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.btn1, .btn2{
    width: 100px;
    height: 40px;
    font-family: roboto;
    font-size: 15px;
    font-weight:600;
    letter-spacing: 1.8px;
    color: rgb(229, 76, 76);;
}

.box, .box2{
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 10%;
    transition: all 2s ease-in-out;
}

.rotate{
    transform: rotate(360deg);
}

.change{
    background-color: #F8D1CD;
    animation: background-color 10s ease  backwards infinite;
}

@media (max-width: 450px) {

    .dot{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #c00;
        opacity: 0;
        transition: all .4s ease-out;
    }

    .dot-container{
        border: 1px solid #000;
        background-color: #fff;
        border-radius: 2%;
        width: 300px;
        height: 300px;
        margin: 6rem 0 6rem 0;
        cursor: pointer;
        transition: all 2s ease-in-out;
    }

    .btn-container{
        width: 240px;
        display: flex;
        justify-content: space-around;
    }

    .btn1, .btn2{
        width: 75px;
        height: 35px;
        font-family: roboto;
        font-size: 12px;
        font-weight:600;
        letter-spacing: 1.2px;
        color: rgb(229, 76, 76);;
    }

    
}